* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* overflow: auto; */
  /* height: 100vh; */
  /* width: 100vw; */
  padding: 0;
  border: 0;
}

.container {
  display: flex;
  flex-direction: column;
  /* min-height: 90vh; */

  /* width: 100vw; */
}
.grid-container {
  display: grid;

  grid-template-columns: 1fr 4fr;
  /* min-height: 90%; */
}

.title {
  display: flex;
  align-items: center;

  height: 10vh;
  font-size: 3rem;
  background-color: rgb(68, 80, 92);
}

.view-nav {
  width: 70%;
  background-color: red;
  min-height: 90vh;
}

.nav-btn {
  display: block;
  background: none;
  border: none;
  margin: 15% 0 0 15%;
}

.create-btn {
  margin: 5% 0 0 20%;
}

.task-btn {
  margin-bottom: 1rem;
}

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20% 0 0;
}

.form-overlay {
  position: fixed;
  width: 100%;
  /* height: 0; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  opacity: 0;
  /* transform: translateY(-200%); */
  /* z-index: 1; */
}

.task-form {
  position: relative;
  width: 50%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
  margin: auto;
}

textarea {
  resize: none;
}

.cancel {
  position: absolute;
  right: 1%;
  margin-top: 1%;
  color: red;
  background: none;
  border: none;
}

.form-overlay.active {
  opacity: 1;
  top: 15%;
  /* transform: translateY(0); */
}

.task-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 0.1rem 0 0.1rem 0;
  width: 70%;
  color: green;
  background-color: rgba(0, 0, 0, 0.2);
  /* height: 1.2em; */
}

.task-item:hover {
  background-color: rgba(255, 255, 255, 1);
}

.task-item::after {
  content: "\02304";
  /* font-size: 1.2em; */
  line-height: 0.5em;
}

/* .task-item.hidden {
  visibility: hidden;
}

.task-item.hidden:first-child {
  visibility: visible;
  justify-content: ;
} */

.task-item.hidden *:not(:first-child) {
  visibility: hidden;
  /* height: 100%; */
}

.task-item.hidden::after {
  content: "\02303";
  line-height: 1.2em;
  visibility: visible;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.task-expanded {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  width: 70%;
  max-height: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  transition: max-height 0.3s linear;
}
.task-expanded.active {
  position: static;
  display: flex;
  flex-direction: column;
  opacity: 1;
  width: 70%;
  max-height: 100%;
}

.task-form * {
  padding: 0.5em;
}
